.DS_Store
.idea
*.swp
*.pyc
__pycache__
*.ipynb*
*.tar*
*.zip
*.pkl
*.pyc
*.bak

checkpoints*
saved_checkpoint
datasets/summer2winter_yosemite
datasets/bdd100k
datasets/photo2art
datasets/Cityscapes
datasets/ADEChallengeData2016
datasets/kitti
datasets/kitti_depth
datasets/vkitti
models/networks/sync_batchnorm
results*
srun_scripts
perfs.md
*.log
val_depth_sample.txt
script*
DeepLabV3Plus_Pytorch

.isort.cfg
.pre-commit-config.yaml
